.list__controls {
    display: flex;
    gap: 12px;
    width: 952px;
    margin: 0 auto 38px;
}

.list__buttons {
    display: flex;
    gap: 12px;
    width: 736px;
}

.circle__container {
    display: flex;
    margin: 120px auto 0;
    justify-content: center;
    align-items: center;
    gap: 25px;
}