.input__container {
    display: flex;
    max-width: 522px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 146px;
  }

.circle__container {
    display: flex;
    max-width: 1040px;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
}
  